<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <h1 align="center">404</h1>
            <h1 align="center">{{title}} Article not found!!</h1>
        </div>
        {{>footer}}
    </body>
</html>