<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <img src="/img/abd.jpg" class="passport">
        </div>
        {{>footer}}    
    </body>
</html>